// palette
$lightgrey: #ccc;

$tetrad1: #f60022; //red
$tetrad2: #ff6400; //orange
$tetrad3: #00bb97; //blue
$tetrad4: #36e300; //green

$triad1: #fF0023; //red
$triad2: #ff8700; //orange
$triad3: #ffcb00; //yellow




